#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainpage{
  flex-grow: 1;
}


.bg-violeta{
  background-color: #82376B;
}

#btnAdmin{
  font-weight: bold;
  color: #82376b;
  border: 2px solid #82376b;
  
}







