@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainpage {
  flex-grow: 1;
}

.bg-violeta {
  background-color: #82376b;
}

body {
  background: #f7f6df;
}

.tituloAdmin,
.subtAdmin {
  color: #7c127b;
}

.tabla {
  background-color: #f7f6df;
}

h1,
h2,
thead {
  font-family: "montserrat alternates";
}
h1 {
  color: #7c127b;
}
tbody {
  font-family: "quicksand";
}

#btnAdmin {
  font-weight: bold;
  color: #82376b;
  border: 2px solid #82376b;
}
#btnEditar,
#btnBorrar {
  color: #474747;
  border: 2px outset #edefec;
  font-weight: bold;
  font-size: larger;
}
#btnBorrar {
  background-color: #ffbbf2;
}
#btnEditar {
  background-color: #d9abff;
}


.galeria-moviles{
  display: flex;
  width: 500px;
  height: 400px;
}

.galeria-moviles img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out; /* Aplicamos la transición a width, opacity y filter */
}

.galeria-moviles img:hover { 
  cursor: crosshair;
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}
